@use "./apple.scss";
@use "./basket.scss";
@use "./shake-button.scss";
@use "./tree.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../images/background.png") no-repeat fixed center / cover;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  .app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
